<?pde version="3.8"?>
<target name="MyTarget" sequenceNumber="1">
<locations>
     <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner"
         includeSource="true" type="InstallableUnit">
         <repository
             location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211213173813/repository" />
         <unit id="org.apache.commons.collections4" version="0.0.0" />
     </location>
</locations>
</target>
