# Note that patterns are not cumulative. So order is important as only the
# last matching pattern is used, see
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#codeowners-syntax

# Members of @oss-review-toolkit/kotlin-devs.
* @fviernau @MarcelBochtler @mnonnenmacher @nnobelis @oheger-bosch @sschuberth

# Members of @oss-review-toolkit/core-devs.
*.md @fviernau @MarcelBochtler @mnonnenmacher @sschuberth @tsteenbe

# Owners of the web app reporter.
/plugins/reporters/web-app-template/ @tsteenbe

# Members of @oss-review-toolkit/core-devs.
/spdx-utils/src/main/ @fviernau @MarcelBochtler @mnonnenmacher @sschuberth @tsteenbe

# Members of @oss-review-toolkit/core-devs.
/LICENSE @fviernau @MarcelBochtler @mnonnenmacher @sschuberth @tsteenbe
