[submodule "directories"]
	path = analyzer/src/funTest/assets/projects/external/directories
	url = https://github.com/soc/directories
	ignore = untracked
[submodule "jgnash"]
	path = analyzer/src/funTest/assets/projects/external/jgnash
	url = https://github.com/ccavanaugh/jgnash.git
	ignore = untracked
[submodule "spdx-tools-python"]
	path = analyzer/src/funTest/assets/projects/external/spdx-tools-python
	url = https://github.com/spdx/tools-python.git
	ignore = untracked
[submodule "scancode-toolkit"]
	path = scanner/src/funTest/assets/scanners/scancode-toolkit
	url = https://github.com/nexb/scancode-toolkit.git
	ignore = untracked
