[submodule "example-python-flask"]
	path = plugins/package-managers/python/src/funTest/assets/projects/external/example-python-flask
	url = https://github.com/deis/example-python-flask.git
	ignore = untracked
[submodule "spdx-tools-python"]
	path = plugins/package-managers/python/src/funTest/assets/projects/external/spdx-tools-python
	url = https://github.com/spdx/tools-python.git
	ignore = untracked
[submodule "quickcheck-state-machine"]
	path = plugins/package-managers/stack/src/funTest/assets/projects/external/quickcheck-state-machine
	url = https://github.com/advancedtelematic/quickcheck-state-machine.git
	ignore = untracked
[submodule "sbt-multi-project-example"]
	path = plugins/package-managers/sbt/src/funTest/assets/projects/external/multi-project
	url = https://github.com/oss-review-toolkit/sbt-multi-project-example.git
	ignore = untracked
[submodule "dart-http"]
	path = plugins/package-managers/pub/src/funTest/assets/projects/external/dart-http
	url = https://github.com/dart-lang/http.git
	ignore = untracked
	tag = 0.13.0
