# Always use Unix line endings for the license file so it has the same hash on all platforms.
/LICENSE	text eol=lf

# Always use Unix line endings for Unix shell scripts.
gradlew	text eol=lf
*.sh	text eol=lf

# Always use Windows line endings for Windows batch scripts.
*.bat	text eol=crlf

# Use Unix line endings for expected test results for consistency across platforms.
**/src/*/assets/**/*expected*.yml		text eol=lf
**/src/*/resources/**/*expected*.txt		text eol=lf
**/src/*/resources/**/*expected*.yml		text eol=lf

# Use Unix line endings for scan results which are misused for also testing the calculation of the SPDX package verification code.
scanner/src/test/resources/*.json			text eol=lf

# Use Unix line endings for SPDX license texts for consistency across platforms.
utils/spdx/src/main/resources/exceptions/*	text eol=lf
utils/spdx/src/main/resources/licenserefs/*	text eol=lf
utils/spdx/src/main/resources/licenses/*	text eol=lf

# Fix GitHub language statistics, see https://github.com/github/linguist#using-gitattributes.
utils/spdx/src/main/resources/exceptions/*		linguist-detectable=false
utils/spdx/src/main/resources/licenserefs/*		linguist-detectable=false
utils/spdx/src/main/resources/licenses/*		linguist-detectable=false

# Use Unix line endings for the expected control file of a Debian package.
utils/common/src/funTest/resources/control-expected.txt	text eol=lf
