Camille Moulin <cmoulin@inno3.fr> <camillem@users.noreply.github.com>
Martin Nonnenmacher <martin.nonnenmacher@here.com> <mnonnenmacher@users.noreply.github.com>
Piotr Nowakowski <piotr.nowakowski@meelogic.com>
Sebastian Schuberth <sebastian.schuberth@here.com> <sschuberth@users.noreply.github.com>
Sebastian Schuberth <sebastian.schuberth@here.com> <sschuberth@gmail.com>
