Adam Bukolt <adam.bukolt@here.com>
Andriy Zhernovskyi <ext-andriy.zhernovskyi@here.com>
Annania Melaku <annania_melaku@comcast.com> <5623183+annania@users.noreply.github.com>
Camille Moulin <cmoulin@inno3.fr> <camillem@users.noreply.github.com>
dependabot[bot] <dependabot[bot]@users.noreply.github.com> <49699333+dependabot[bot]@users.noreply.github.com>
Frank Viernau <frank.viernau@here.com> <42963794+fviernau@users.noreply.github.com>
Frank Viernau <frank.viernau@here.com> <frank.viernau@gmail.com>
François Barbe <f.barbe@lectra.com> <fb33@users.noreply.github.com>
François Barbe <f.barbe@lectra.com> <fbarbe@yahoo.fr>
Jeff McAffer <jeffmcaffer@github.com> <jeff.mcaffer@microsoft.com>
Johannes Tigges <johannes.tigges@here.com> <lenucksi@users.noreply.github.com>
Korbinian Singhammer <external.Korbinian.Singhammer2@bosch.io> <korbinian.singhammer@tngtech.com>
Marcel Bochtler <marcel.bochtler@bosch.io> <git@bochtler.io>
Martin Nonnenmacher <martin.nonnenmacher@bosch.io> <martin.nonnenmacher@here.com>
Martin Nonnenmacher <martin.nonnenmacher@bosch.io> <mnonnenmacher@users.noreply.github.com>
Mo Khan <mo.khan@gmail.com>
Piet Brauer-Kallenberg <piet.brauer-kallenberg@mhp.com> <piet.brauer@mhp.com>
Piotr Nowakowski <piotr.nowakowski@meelogic.com>
Sebastian Schuberth <sebastian.schuberth@bosch.io> <sebastian.schuberth@bosch-si.com>
Sebastian Schuberth <sebastian.schuberth@bosch.io> <sebastian.schuberth@here.com>
Sebastian Schuberth <sebastian.schuberth@bosch.io> <sschuberth@gmail.com>
Sebastian Schuberth <sebastian.schuberth@bosch.io> <sschuberth@users.noreply.github.com>
Stephanie Neubauer  <Stephanie.Neubauer@bosch.io> <Stephanie.Neubauer@bosch-si.com>
Uwe Sander <uwe.sander@zeiss.com> <61053896+uszeiss@users.noreply.github.com>
William Bartholomew <willbar@microsoft.com> <iamwillbar@github.com>
Yann Jorelle <yann.jorelle@aalto.fi>
