body {
    background: #fafafa;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ort-tree-tooltip .ant-tooltip-inner {
    max-width: 500px;
}

.ort-tree-searched-item {
    background: yellow;
}

.ort-tree-selected-item {
    background: orange;
    transition: background 100ms ease-in;
}

.ort-tree-wrapper {
    overflow: auto;
    flex: auto;
    height: calc(100vh - 150px);
}

.ort-tree-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ort-tree-search {
    display: flex;
    margin-bottom: 8px;
}

.ort-tree-navigation {
    display: flex;
    align-items: center;
    margin-left: 8px;
    flex-wrap: nowrap;
}

.ort-tree-navigation-counter {
    margin-left: 8px;
}