<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.apache.http.headers" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.http.wire" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.eclipse.jgit.internal.storage.file.FileSnapshot" level="error">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="org.ossreviewtoolkit.scanner.scanners.fossid.FossId" level="info"/>
    <Logger name="org.ossreviewtoolkit.scanner.scanners.fossid.FossIdConfig" level="info"/>
    <Logger name="org.ossreviewtoolkit.clients.fossid.FossIdRestService" level="info"/>
    <Logger name="org.ossreviewtoolkit.reporter.reporters.fossid.FossIdReporter" level="info"/>
    <Logger name="org.ossreviewtoolkit.analyzer.managers.Yarn2" level="info"/>
  </Loggers>
</Configuration>
