body {
    background-color: #f7f7f7;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
    font-size: 14px;
}

a, a:visited {
    color: black;
}

dd {
    margin-left: 1em;
}

dd div {
    padding-left: 1em;
    text-indent:-1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#report-container {
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28rem;
    padding: 0em 1em 0.5em 1em;
    margin: 1em 2em 1em 2em;
}

.ort-report-label {
    background-color: #f9fafb;
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-right: 1px solid rgba(34, 36, 38, .15);
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-top: none;
    border-bottom-left-radius: .28rem;
    border-bottom-right-radius: .28rem;
    border-collapse: separate;
    border-spacing: 0;
    color: rgba(34, 36, 38, .7);
    font-size: 18px;
    font-weight: 700;
    padding: 0.4em 0.4em 0.4em 0.4em;
    margin-bottom: 1em;
    top: -10px;
    width: 110px;
}

.ort-report-labels {
    font-size: 12px;
    border-spacing: 0;
    table-layout: fixed;
}

.ort-report-labels td {
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    overflow: hidden;
    padding: 5px 20px 5px 0px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.ort-report-labels tr:first-child td {
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.ort-excluded {
    filter: opacity(50%);
}

.ort-reason {
    border-radius: 3px;
    background: #EEE;
    padding: 2px;
    font-size: 12px;
    display: inline;
}

table.ort-excluded tr.ort-excluded {
    filter: opacity(100%);
}

table tr.ort-excluded td li.ort-excluded {
    filter: opacity(100%);
}

table.ort-excluded tr.ort-excluded td li.ort-excluded {
    filter: opacity(100%);
}

.ort-report-table {
    border-spacing: 0;
    overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    width: 100%;
}

.ort-report-table tr:hover {
    background: rgba(34, 36, 38, .15);
}

.ort-report-table tr.ort-error {
    background: #fff6f6;
    color: #9f3a38;
}

.ort-report-table tr.ort-warning {
    background: #fffaf3;
    color: #573a08;
}

.ort-report-table tr.ort-hint {
    background: #f7f5ff;
    color: #1c0859;
}

.ort-report-table tr:last-child td {
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.ort-report-table tr:last-child td:first-child {
    border-bottom-left-radius: .28rem;
}

.ort-report-table tr:last-child td:last-child {
    border-bottom-right-radius: .28rem;
}

.ort-report-table th {
    background-color: #f9fafb;
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-top: 1px solid rgba(34, 36, 38, .15);
    overflow: hidden;
    padding: 5px 5px 5px .8em !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ort-report-table th:first-child {
    width: 30px;
    white-space: nowrap;
    border-top-left-radius: .28rem;
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.ort-report-table th:last-child {
    border-top-right-radius: .28rem;
    border-right: 1px solid rgba(34, 36, 38, .15);
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.ort-report-table td {
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-top: 1px solid rgba(34, 36, 38, .15);
    padding: 8px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.ort-report-table td:last-child {
    border-right: 1px solid rgba(34, 36, 38, .15);
}

.ort-report-table.ort-violations tr.ort-resolved {
    background: #fcfff5;
    color: #2c662d;
}

.ort-report-table.ort-packages tr.ort-error {
    color: black;
}

.ort-report-table.ort-packages tr.ort-error td:nth-child(5),
.ort-report-table.ort-packages tr.ort-error td:nth-child(6) {
    color: #9f3a38;
}

.ort-report-table li.ort-resolved {
    color: #2c662d;
}

.ort-report-table details {
    overflow: scroll;
}

@media all and (max-width: 1000px) {
    .ort-report-table th:nth-child(2), .ort-report-table td:nth-child(2) {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }
}

@media all and (max-width: 900px) {
    .ort-report-table th:nth-child(3), .ort-report-table td:nth-child(3) {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }
}

@media all and (max-width: 800px) {
    .ort-report-table th:nth-child(5),
    .ort-report-table td:nth-child(5),
    .ort-report-table th:nth-child(6),
    .ort-report-table td:nth-child(6) {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }

    .ort-report-table th:nth-child(4) {
        border-top-right-radius: .28rem;
        border-right: 1px solid rgba(34, 36, 38, .15);
    }

    .ort-report-table td:nth-child(4) {
        border-right: 1px solid rgba(34, 36, 38, .15);
    }

    .ort-report-table tr:last-child td:nth-child(4) {
        border-bottom-right-radius: .28rem;
    }
}

@media all and (max-width: 500px) {
    .ort-report-table th:nth-child(4),
    .ort-report-table td:nth-child(4) {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }

    .ort-report-table th:first-child {
        border-top-right-radius: .28rem;
        border-right: 1px solid rgba(34, 36, 38, .15);
    }

    .ort-report-table td:first-child {
        border-right: 1px solid rgba(34, 36, 38, .15);
    }

    .ort-report-table tr:last-child td:first-child {
        border-bottom-right-radius: .28rem;
    }
}
