.commandBox {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--ifm-color-secondary);
  border-radius: 8px;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-hero-text-color);
  font-family: var(--ifm-font-family-monospace);
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.commandBox code {
  border: 0;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-hero-text-color);
  display: inline-block;
}

.copyButton {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 4px;
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-hero-text-color);
  cursor: pointer;
  font-size: 0.9rem;
}

.copyButton:hover {
  background-color: var(--ifm-color-primary-dark);
}
