jobs:
- job: LinuxTest
  pool:
    vmImage: ubuntu-18.04
  steps:
  - task: UsePythonVersion@0
    displayName: Enable Python 3.6
    inputs:
      versionSpec: 3.6
      addToPath: true
      architecture: x64

  # Install required tools.
  - bash: |
      # Install apt packages.
      sudo apt-get -qq install cvs

      # Uninstall mono-devel because it contains the "lc" command which conflicts with BoyterLc.
      sudo apt-get -qq remove mono-devel

      # Install git-repo.
      mkdir -p $HOME/.local/bin
      curl https://storage.googleapis.com/git-repo-downloads/repo > $HOME/.local/bin/repo
      chmod a+x $HOME/.local/bin/repo

      # Update PATH for next steps, see:
      # https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash#prependpath-prepend-a-path-to-the--path-environment-variable
      echo "##vso[task.prependpath]$HOME/.local/bin"
    displayName: Install Required Tools

  # Clone repository.
  - checkout: self
    fetchDepth: 1
    submodules: false

  # Gradle build cache, see: https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops
  - task: Cache@2
    inputs:
      key: '"$(Agent.OS)" | test | gradle-caches | v1 | gradle.properties, settings.gradle.kts, **/build.gradle.kts'
      restoreKeys: |
        "$(Agent.OS)" | test | gradle-caches | v1
      path: $(GRADLE_USER_HOME)/caches
    displayName: Cache Gradle Caches

  - task: Cache@2
    inputs:
      key: '"$(Agent.OS)" | gradle-wrapper | gradle/wrapper/gradle-wrapper.properties'
      restoreKeys: |
        "$(Agent.OS)" | gradle-wrapper
      path: $(GRADLE_USER_HOME)/wrapper/dists
    displayName: Cache Gradle Wrapper

  - bash: |
      echo $PATH
      which repo

      # Create the ORT_DATA_DIR, in case it is not created because the test task is skipped because of the Gradle cache.
      mkdir $ORT_DATA_DIR

      # Export a DAY_OF_YEAR variable to be able to use it as a cache key.
      export DAY_OF_YEAR=$(date '+%j')
      echo "##vso[task.setvariable variable=DAY_OF_YEAR;]$DAY_OF_YEAR"
    displayName: Prepare Caching ORT Data Dir

  # Cache the ORT data directory. There is no file that could be used as a meaningful cache key, so use the day of year
  # instead to make sure the cache is updated once a day.
  - task: Cache@2
    inputs:
      key: '"$(Agent.OS)" | test | ort-data | "$(DAY_OF_YEAR)"'
      restoreKeys: |
        "$(Agent.OS)" | test | ort-data
      path: $(ORT_DATA_DIR)
    displayName: Cache ORT Data Dir

  # Build and test.
  - task: Gradle@2
    displayName: Run Tests
    inputs:
      gradleWrapperFile: gradlew
      # TODO: Only exclude ExpensiveTag on PR builds.
      options: --no-daemon --stacktrace -Dkotest.tags.exclude=ExpensiveTag -Dkotest.assertions.multi-line-diff=simple -x analyzer:test -x analyzer:funTest -PbuildCacheRetentionDays=3
      tasks: test funTest jacocoReport
      publishJUnitResults: true
      testResultsFiles: '**/flattened/TEST-*.xml'
      testRunTitle: $(Agent.JobName)
      # TODO: Configure code coverage options.
      #codeCoverageToolOption: 'JaCoCo'
      #codeCoverageClassFilter: '' # TODO: Define filters if required, e.g. '+:com.,+:org.,-:my.app*.*.'.
      javaHomeOption: JDKVersion
      jdkVersionOption: 1.11
      gradleOptions: -Xmx8192m

  # Ensure that any running Gradle daemon is stopped before caching starts.
  - bash: ./gradlew --stop
    displayName: Stop Gradle Daemon

  - script: bash <(curl -s https://codecov.io/bash) -X gcov -f '!*/src/*/assets/*';
    displayName: Upload to codecov.io
    condition: eq(variables['Build.Reason'], 'Schedule')
