name: Build and Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false
  SCANCODE_VERSION: 30.1.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - name: Build all classes
      uses: burrunan/gradle-cache-action@v1
      with:
        arguments: --stacktrace classes -x :reporter-web-app:yarnBuild
  build-reporter-web-app:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - name: Build the reporter-web-app
      uses: burrunan/gradle-cache-action@v1
      with:
        job-id: build-reporter-web-app
        arguments: --stacktrace :reporter-web-app:yarnBuild
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - name: Run unit tests
      uses: burrunan/gradle-cache-action@v1
      with:
        job-id: test
        arguments: test jacocoTestReport -x :reporter-web-app:yarnBuild
    - name: Upload code coverage data
      uses: codecov/codecov-action@v2
  funTest-non-analyzer:
    needs: build-reporter-web-app
    runs-on: ubuntu-latest
    steps:
    - name: Install required tools
      run: |
          sudo apt-get install -y --no-install-recommends cvs

          # Uninstall mono-devel because it contains the "lc" command which conflicts with BoyterLc.
          sudo apt-get -qq remove mono-devel

          # Install git-repo.
          mkdir -p $HOME/.local/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo -o $HOME/.local/bin/repo
          chmod a+x $HOME/.local/bin/repo

          # Install ScanCode for license texts.
          pip install --user scancode-toolkit==$SCANCODE_VERSION
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - name: Run functional tests
      uses: burrunan/gradle-cache-action@v1
      with:
        job-id: funTest-non-analyzer
        arguments: funTest jacocoFunTestReport -x :analyzer:funTest
    - name: Upload code coverage data
      uses: codecov/codecov-action@v2
  funTest-analyzer-docker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - name: Validate Batect wrapper scripts
      uses: batect/batect-wrapper-validation-action@v0
    - name: Run functional tests
      run: ./batect --enable-buildkit --config-var gradle_console=plain funTest -- jacocoFunTestReport -Dkotest.tags=!NoDockerTag -p analyzer
    - name: Upload code coverage data
      uses: codecov/codecov-action@v2
  funTest-analyzer-no-docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - name: Run functional tests
      uses: burrunan/gradle-cache-action@v1
      with:
        job-id: funTest-analyzer-no-docker
        arguments: :analyzer:funTest :analyzer:jacocoFunTestReport -Dkotest.tags=NoDockerTag
    - name: Upload code coverage data
      uses: codecov/codecov-action@v2
