name: Native Build

on:
  workflow_dispatch:

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false

permissions: read-all

jobs:
  analyzer-only:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@790e28947b79a9c09c3391c0f18bf8d0f102ed69 # v1
        with:
          distribution: graalvm
          java-version: 25
          native-image-job-reports: true
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Build Executable
        run: ./gradlew -P cliAnalyzerOnly=true --no-configuration-cache :cli:nativeCompile
      - name: Compress Executable
        uses: crazy-max/ghaction-upx@db8cc9515a4a7ea1b312cb82fbeae6d716daf777 # v3
        with:
          files: cli/build/native/nativeCompile/ort
      - name: Upload Executable
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ORT Analyzer-only
          path: cli/build/native/nativeCompile/ort
          compression-level: 0
          retention-days: 7
