name: Scorecard Analysis

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  scorecard-analysis:
    runs-on: ubuntu-latest
    permissions:
      # Needed for SARIF scanning upload.
      security-events: write
      # Needed for GitHub OIDC token if `publish_results` is true.
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
      - name: Run Analysis
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: ossf-results.sarif
          results_format: sarif
          publish_results: true
      - name: Upload Code Scanning Results
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          sarif_file: ossf-results.sarif
