name: Wrapper Validation

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  gradle-wrapper:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
    - name: Validate Wrapper
      uses: gradle/actions/wrapper-validation@16bf8bc8fe830fa669c3c9f914d3eb147c629707 # v4
