name: Wrapper Validation

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  gradle-wrapper:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Validate Wrapper
      uses: gradle/actions/wrapper-validation@v3
